input[readonly] {
    background-color: #eee;
    color: #777;
    border: 1px solid #ccc;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
}

input[type="text"].loading {
    background-image: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExODk0ZGE1ZWExMGIyNDIwNWZiZTgyZmM3YmNiMTlhNzlkNmRiYmI5ZiZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PXM/kSaZVSQFpTdle527cm/giphy.gif');
    background-repeat: no-repeat;
    background-position: right 4px center;
    background-size: 20px 20px;
}

select[disabled] {
    background-color: #eee !important;
    color: #777;
    border: 1px solid #ccc;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
}

select.round {
    background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
            calc(100% - 20px) 50%,
            calc(100% - 15px) 50%;
    background-size:
            5px 5px,
            5px 5px;
    background-repeat: no-repeat;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
    aspect-ratio: 2/3;
    min-height: 70vh;
    max-height: 70vh;
}

.image-container:hover img {
    filter: brightness(50%);
}

.img-hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D1E9C3;
    text-align: center;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.3s, ease-in-out;
}

.image-container:hover .img-hover-text {
    opacity: 1;
}

.img-hover-text i {
    font-size: 10em;
}

.img-error {
    border: 2px solid red;
    transition: all 0.3s ease-in-out;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.addasset-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #D0DCD0;
}

.addasset-container h1 {
    margin-top: 5vh;
}

.info-container {
    background-color: #e7eee7;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 40vw;
}

.info-container div label {
    display: flex;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.location-display {
    background-color: #D1E9C3;
    border-radius: 20px;
    width: 100%;
    margin-top: 1em;
    padding-block: 1em;
}

.field-set {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-inline: 1em;
}

.field {
    flex: 1;
}

